body{
    font-family: sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}
h1{
    font-size: 33px;
    color: green;
}
form{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 40px;
    border-radius: 15px;
}
label{
    display: block;
    margin-top: 18px;
    font-size: 22px;
    font-family: sans-serif;
}
input,textarea{
    width: 100%;
    height: 40px;
    font-size:20px;
    font-family: sans-serif;
    border-radius: 6px;
    border: none;
    border: 1px solid gray;
    outline: 0;
}
input:focus,textarea:focus{
    border: 1px solid blue;
}
textarea{
    height: 100px;
}
button{
    padding: 10px 15px;
    font-size: 20px;
    font-family: sans-serif;
    border: none;
    background-color: green;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}
button:hover{
    background-color: brown;
    border-radius: 0;
    transform: scale(1.1);
}
